<!-- guru/templates/guru/guru_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guru List</title>
</head>
<body>
    <h1>Guru List</h1>
    <ul>
        {% for guru in gurus %}
         
                {% if guru.prof_image %}     
               
                    <img src="{{ guru.prof_image.url }}" width="100">
                    <ul>  {{ guru.name }} </ul>
                {% endif %}
           </li> 
        {% endfor %}
      
    </ul>
</body>
</html>
