<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore Plans</title>
    
</head>
<body>
    <h1>Explore Plans</h1>
    <ul>
        {% for plan in plans %}
            <li>
                <h2>{{ plan.name }}</h2></li>
                <p>Price: ₹ {{ plan.price }}</p>
                <p>{{ plan.description }}</p>
                
            
        {% endfor %}
    </ul>
    <nav>
        <ul>
            <li><a href="{% url 'menu' %}">Back to Menu</a></li>
        </ul>
    </nav>
</body>
</html>


























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































